<style>
.errPsw{
    animation: shake 0.4s cubic-bezier(0.25, 1.5, 0.5, 1);
    border:solid 2px #f0ada0;    
    border-radius: 4px;
}
    @keyframes shake {
        0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-7px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
    }
</style>


<div id="encrypted">
    <h3> {{ site.theme_config.encrypt_title | default : 'Content is Encrypted'}} </h3>
   
    <input style="width:100%; " type="password" id="passwordinput" placeholder="输入密码"></input>
    <p>
        <input type="button" value= "{{ site.theme_config.decrypt_btn | default : 'Decrypt' }}" id="DecryptBtn"/>
        <input type="button" value= "{{ site.theme_config.encrypt_clear_btn | default: 'Clear password cache' }}" id="ClearBtn1"/>
    
    </div>
    
    <div id="decrypted"  style = "display:none">
        <p>
        <div>
           
            <input type="button" value= "{{ site.theme_config.encrypt_btn | default: 'Encrypt' }}" id="EncryptBtn"/>

            <input type="button" value= "{{ site.theme_config.encrypt_clear_btn | default: 'Clear password cache' }}" id="ClearBtn2"/>
           
        </div>
        <div id = 'decryptContent'>
        </div>
    </div>
    <script>
        var exports = exports || {} 
    </script>
    <script src="//cdn.jsdelivr.net/gh/vitock/jsdelivr@0.1.2/js/base64js.js"></script>
    <script>
        {% include encrypt_page.js %}


        /******************************************************************/


        {%- assign HEXKEY = '' | rand_bytes:32 %}
        {% assign TestData = HEXKEY | gen_test_data_forkey %}

        
        const contentEnc = '{{ content | encrypt_content_v2:HEXKEY }}';
        const keyData  = '{{ '' | encrypt_key:page,HEXKEY ,encid}}';
        const TestData = '{{ TestData }}'
        const preFix = '{{encid}}';
        {% if site.theme_config.forbid_cache_password -%}
        const forbid_cache_password = true;
        {% else -%}
        const forbid_cache_password = false;
        {%- endif %}

        _InitEnc(preFix,contentEnc,keyData,TestData,forbid_cache_password)
    </script>
    