
{% comment %} keep this up empty line  {% endcomment %}

<div>
{%- if include.collection -%}
  {%- assign posts = include.collection -%}  
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}

{% if datemapidOnPage == nil %}
    {%- assign  datemapidOnPage = 0 -%}
{%- else -%}
    {%- assign  datemapidOnPage = datemapidOnPage  |  plus : 1-%}
    
{%- endif -%}


{% assign mapEleId = "heatmap-" | append: datemapidOnPage %}
<div class="heatmap-title">{{ include.title | default :""  }}</div>

<div class='heatmap' id="{{mapEleId}}">
  
</div>
{%- if datemapidOnPage == 0 -%}

{% comment %}
  只加载一次
{% endcomment %}
<script >

  function create_heatmap(heatmapid,endYear){
    {%- include getPostData.js  -%}
    {%- include heatmap_svg.js  -%}


    /**************************************/
    /***************Create Map***********************/
    /**************************************/



    {% assign MothStr = site.theme_config.heatMapMonth  -%}
    {%- assign HeatMapShowWeek = site.theme_config.heatMapShowWeek  -%}
    {%- assign heatMapLoadCount = site.theme_config.heatMapLoadCount | default: 8  %}
    
    const WeeKStartStr = "{{ site.theme_config.heatMapWeekStart | default: 0 }}" ;//  0 sunday 1 monday 2. tuesday ...

    const heatMapLoadCount = {{heatMapLoadCount}};
    var _MonthStr =  '{{ MothStr | default: "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec" }}';
    var _showWeek =  '{{ HeatMapShowWeek | default: "Sun Mon Tue Wed Thu Fri Sat" }}';
    var _allyearurl =  '{{ "assets/dyn/allyear.json" | relative_url }}';
   


    if (!endYear) {
      let now = new Date()
      endYear = `${now.getFullYear()}-${(101 + now.getMonth()).toString().substring(1)}-${(100 + now.getDate()).toString().substring(1)}`
    }else if(('' + endYear).length == 4 ){
      endYear = '' + endYear + '-12-31'  
    }
    
    const svgmap = createSVGMap(endYear)

    let father = document.getElementById(heatmapid)
    if (!father) {
      console.error('no father')
      return
    }
    father.appendChild(svgmap.svg);

    const p = hm_getPostData(endYear,_allyearurl);
    console.log(p)
    p.then(d=>{
      console.log(d)
      svgmap.updateDays(d)
    })
 


 
  }
</script>

{% else %}

{%- endif -%}


{{child_initialized}}

<script> 
!function(){
  var endYear = "{{ include.endYear }}"
  var mapid = "{{ mapEleId }}"
  create_heatmap(mapid,endYear )
}()
</script>

</div>