{%- if included_files -%}
{%- else -%}
{%- assign included_files = '' -%}  
{%- endif -%}



{%- assign files = include.files | replace: ",", " " -%}
{%- assign files = include.files | replace: " ", ";" -%}
{%- assign items = files | split: ";" -%}

 {%- for filename in items -%}
  {%- unless included_files contains filename -%}
    {%- capture included_files -%}{{ included_files }},{{filename}}{%- endcapture -%}
    {%- capture realPath --%}
      /_includes/{{filename}}
    {%- endcapture -%}
   
 
      {%- include_raw   file=realPath --%}  
  
    
  {%- endunless -%}  
 {%- endfor -%}
{%- capture included_files -%}{{ included_files }}{%- endcapture %}
 


