---
layout: default
---

{%- assign titlelen = page.title.size -%}
{%- if titlelen > 0 -%}
<h2>{{ page.title }}</h2>
{%- endif -%}
<time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.post_date_format }}</time> &nbsp; &nbsp; 
  {%- for tag in page.tags -%}
  {%- capture tag_name -%}{{ tag }}{%- endcapture -%}
      <a href="{{ site.baseurl }}/tags/{{ tag_name }}.html" class="tag"><text><nobr>#{{ tag_name }}</nobr></text>&nbsp;</a>
{%- endfor -%}

<br/>



<style>
  .custom-map-title{
    margin: 0;
    font-size: 1.5em;
    color: #444455;
  }

  .map-container{
    padding-bottom: 4em;
  }
  .lv-year{
    
    font-family: 'Courier New', Courier, monospace;
  }

  .lv-year-title{
    font-weight: bold;
    font-size: 1.5em; 
    display: inline-block;
    color: #aaa;
    
  }
  .lv-year-count{
    font-weight: bold;
    display: inline-block;
    font-size: 1.2em;
    color: #aaa;
    
  }
  .lv-year-count::before{
    content: "x";
    margin-left: 1em;
    margin-right: 0.2em;
    font-weight: 400;
    font-size: 1.5rem;
    color: #aaa;
  }

  #loveiContainer{
    margin-bottom: 2em;
  }

</style>

 

  <script >
    function create_heatmap(heatmapid,endYear,dataObj,title,count,node){
      let container =  document.createElement('div')
      container.className = 'map-container'
      let divtitle = document.createElement('div')
      divtitle.className = 'lv-year'

      let divYear =  document.createElement('div')
      divYear.className = 'lv-year-title'
      divYear.innerText =  title || endYear 
      divtitle.appendChild(divYear)

      let divYearC =  document.createElement('div')
      divYearC.className = 'lv-year-count'
      divYearC.innerText = ''  + (count  || (dataObj.allYear[endYear] ||''))
      divtitle.appendChild(divYearC)



      container.appendChild(divtitle) 
      let div = document.createElement('div')
      div.className = 'heatmap'
      div.id = heatmapid

      container.appendChild(div)
      node.parentNode.insertBefore(container,node)

      setTimeout(() => {
        create_heatmap0( heatmapid,endYear,dataObj)
      }, 1);
    }
    function create_heatmap0(heatmapid,endYear,dataObj){
   
    {%- assign MothStr = site.theme_config.heatMapMonth  -%}
    {%- assign HeatMapShowWeek = site.theme_config.heatMapShowWeek  -%}
    {%- assign heatMapLoadCount = site.theme_config.heatMapLoadCount | default: 9  -%}
    
    const WeeKStartStr = "{{ site.theme_config.heatMapWeekStart | default: 0 }}" ;//  0 sunday 1 monday 2. tuesday ...

    const heatMapLoadCount = {{heatMapLoadCount}};
    var _MonthStr =  '{{ MothStr | default: "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec" }}';
    var _showWeek =  '{{ HeatMapShowWeek | default: "Sun Mon Tue Wed Thu Fri Sat" }}';
    var _allyearurl =  '{{ "assets/dyn/allyear.json" | relative_url }}';
    {% include heatmap.js  %}


    __filldata(heatmapid,endYear,WeeKStartStr,heatMapLoadCount,_MonthStr,_showWeek,_allyearurl,dataObj,'lv')
    }



  </script>
   
  

  
  
   <article>


 {%- assign encid = "" | get_encrypt_id:page  -%}
  {%- if  encid == '' -%}
  <div id="loveiContainer">
 
    <!-- <div class='heatmap' id="loveid"> -->
      
  </div>
     
  {{ content }}
  {%- else -%}
  {%-include encrypted.html-%}
  {%- endif -%}

  </article>


  
 <script> 
  
  {%- include getmapdata.js %}
  </script>