---
layout: default
---

{%- assign titlelen = page.title.size -%}
{%- if titlelen > 0 -%}
<h2>{{ page.title }}</h2>
{%- endif -%}
<time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.post_date_format }}</time> &nbsp; &nbsp; 
  {%- for tag in page.tags -%}
  {%- capture tag_name -%}{{ tag }}{%- endcapture -%}
      <a href="{{ site.baseurl }}/tags/{{ tag_name }}.html" class="tag"><text><nobr>#{{ tag_name }}</nobr></text>&nbsp;</a>
{%- endfor -%}

<br/>



<style>
  .lv-year{
    margin-top: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .lv-year-title{
    font-weight: bold;
    font-size: 1.8em; 
    display: inline-block;
    color: #aaa;
    
  }
  .lv-year-count{
    font-weight: bold;
    display: inline-block;
    font-size: 1.2em;
    color: #aaa;
    
  }
  .lv-year-count::before{
    content: "x";
    margin-left: 1em;
    margin-right: 0.2em;
    font-weight: 400;
    font-size: 1.5rem;
    color: #aaa;
  }

  #loveiContainer{
    margin-bottom: 2em;
  }

</style>

 

  <script >
    function create_heatmap(heatmapid,endYear,dataObj,title,count){
      let container =  document.getElementById('loveiContainer')
      let divtitle = document.createElement('div')
      divtitle.className = 'lv-year'

      let divYear =  document.createElement('div')
      divYear.className = 'lv-year-title'
      divYear.innerText =  title || endYear 
      divtitle.appendChild(divYear)

      let divYearC =  document.createElement('div')
      divYearC.className = 'lv-year-count'
      divYearC.innerText = count  || ('' + dataObj.allYear[endYear])
      divtitle.appendChild(divYearC)



      container.appendChild(divtitle) 
      let div = document.createElement('div')
      div.className = 'heatmap'
      div.id = heatmapid

      container.appendChild(div)

      setTimeout(() => {
        create_heatmap0( heatmapid,endYear,dataObj)
      }, 1);
    }
    function create_heatmap0(heatmapid,endYear,dataObj){
   
    {%- assign MothStr = site.theme_config.heatMapMonth  -%}
    {%- assign HeatMapShowWeek = site.theme_config.heatMapShowWeek  -%}
    {%- assign heatMapLoadCount = site.theme_config.heatMapLoadCount | default: 9  -%}
    
    const WeeKStartStr = "{{ site.theme_config.heatMapWeekStart | default: 0 }}" ;//  0 sunday 1 monday 2. tuesday ...

    const heatMapLoadCount = {{heatMapLoadCount}};
    var _MonthStr =  '{{ MothStr | default: "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec" }}';
    var _showWeek =  '{{ HeatMapShowWeek | default: "Sun Mon Tue Wed Thu Fri Sat" }}';
    var _allyearurl =  '{{ "assets/dyn/allyear.json" | relative_url }}';
    {% include heatmap.js  %}


    __filldata(heatmapid,endYear,WeeKStartStr,heatMapLoadCount,_MonthStr,_showWeek,_allyearurl,dataObj,'lv')
    }



  </script>
   
  

  
  
   <article>


 {%- assign encid = "" | get_encrypt_id:page  -%}
  {%- if  encid == '' -%}
  <div id="loveiContainer">
 
    <!-- <div class='heatmap' id="loveid"> -->
      
  </div>
     
  {{ content }}
  {%- else -%}
  {%-include encrypted.html-%}
  {%- endif -%}

  </article>


  
 <script> 
 (function(){
    
   /// 2025-01-01 描述，日期格式yyyy-mm-dd，空格后跟上 描述
   function getDataFromSignleLine(str0){
      let str = str0.trim()
      if(!str) return null
      var arr = str.split(" ")
      var date0 = arr[0]
      let date = ''
      if(date0 ){
        let ymd = date0.split("-")
        if(ymd.length == 3){
          let year =  ymd[0]
          let month = ymd[1]
          let day =   ymd[2]

          let nY = Number(year)
          let nM = Number(month)
          let nD = Number(month)
          if (isNaN(nY) || isNaN(nD) || isNaN(nM) || nY < 1900 || nY > 2100 || nM < 1 || nM > 12 || nD < 1 || nD > 31) {
            return null 
          }
        date = year + "-" + month.padStart(2, '0') + "-" + day.padStart(2, '0')
      }
    }
      else{
        return null
      }

      if (!date) {
        console.error("Invalid date format: " + str0)
        return null
      }
      var title = ""
      if(arr.length > 1){
        title = arr.slice(1).join(" ")
      }
      return {date:date,title:title}
   }

   function fillDataObj(data,item){
    if(!item) return
    let y = item.date.substring(0,4);
    let m = item.date.substring(5,7);
    let c = data.allYear[y]; 
    data.allYear[y] = c ? c + 1 : 1;
    
    let yObj = data[y]
    if(!yObj){
      yObj = {}
      data[y] = yObj;
    }

    let arr = yObj[m]
    if(!arr){
      arr = []
      yObj[m] = arr
    }
    arr.push(item)

   }
   function initData(){
    var endYear = "{{ include.endYear }}"
    
    let allYear = {}
    let data = {allYear:allYear};
    



   let Recent365Count = 0;
   let nowDate = new Date
   let Recent365YMD =  `${nowDate.getFullYear()-1}-${(nowDate.getMonth() + 1).toString().padStart(2, '0')}-${nowDate.getDate().toString().padStart(2, '0')}`

   console.log(Recent365YMD)


    let arrCodes = document.querySelectorAll('pre > code')
    if(!arrCodes ||  arrCodes.length == 0) return
    if(arrCodes.length > 0){
      arrCodes.forEach(function(code){
        var strAll = code.textContent
        strAll.split("\n").forEach(function(str){
          let item = getDataFromSignleLine(str)
          fillDataObj(data,item)
          if(item  ){
            if(item.date >= Recent365YMD){
              
              Recent365Count ++
            }            
            
          }
        })
        
      })
    }

    let allYearArr = Object.keys(allYear).sort().reverse()

    create_heatmap('lmpRecent365'   ,'',data ,"Last 1Y",Recent365Count)
    for(let i = 0; i < allYearArr.length; i++){
      let y = allYearArr[i]
      create_heatmap('lmp' + y ,y,data )


    } 
    
    
  };

  initData()

  window['_after_dec_fun'] = function(){
    let con = document.getElementById('loveiContainer')
    if(!con){
      let decryptContent = document.getElementById('decryptContent') 
      if(!decryptContent) return
      con = document.createElement('div')
      con.id = 'loveiContainer'
      decryptContent.insertBefore(con,decryptContent.firstChild)
      
    }

    initData()
  }
  window['_after_enc_fun'] = function (){
    document.getElementById('loveiContainer').innerHTML = ''
  }
})();
  
  </script>